form(action="/myProfileSavePassword" header="Change Password")
    section(name="password" required)
        header Password
        p Choose a password 8-20 characters.
        p No spaces, must have a capital, small letter and number.
        input(type="text" minlength=8 maxlength=20)
        footer Reply with Password